<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- holding properties for database connectivity / -->
	<context:property-placeholder location="classpath:hibernate.properties" />
<!-- 	<tx:annotation-driven proxy-target-class="true"/> -->

	<!-- Se utiliza para activar las anotaciones en los beans ya registrados en el applicationContext -->
<!-- 	<context:annotation-config /> -->

	<!-- Se utiliza para registrar los beans y procesar las anotaciones de clases @Components -->
	<context:component-scan base-package="com.ecoevents.restful.bs" />

	<!-- Se utiliza para habilitar la transaccionalidad de las anotaciones @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.ecoevents.restful.eis.bo" />
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/ecoevents/restful/eis/bo</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.autocommit">${hibernate.01.connection.autocommit}</prop>
				<prop key="hibernate.dialect">${hibernate.01.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.01.show_sql}</prop>
				<prop key="hibernate.default_batch_fetch_size">${hibernate.01.default_batch_fetch_size}</prop>
				<prop key="hibernate.max_fetch_depth">${hibernate.01.max_fetch_depth}</prop>
				<prop key="hibernate.cache.provider_class">${hibernate.01.cache.provider_class}</prop>
				<prop key="hibernate.cache.use_minimal_puts">${hibernate.01.cache.use_minimal_puts}</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">${hibernate.01.bytecode.se_reflection_optimizer}
				</prop>
			</props>
		</property>
	</bean>

	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/app" />
	
	<bean id="hibernateDao" name="hibernateDao" class="com.ecoevents.restful.bs.dao.impl.AbstractDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
